@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 70px;

  --spacing-horizontal: 16px;

  --clr-bg-body: #e1dcc5;
}

@media (min-width: 768px) {
  :root {
    --spacing-horizontal: 48px;
  }
}

.swiper-wrapper {
  display: flex;
}

.synopsistext p {
  margin: 0 0 1em 0;
}
